.tableRow{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.tableCell{
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: rgb(168, 206, 196);
    padding-top: 1em;
    color: rgb(70, 70, 70);
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
    border-radius: 1rem;
    border: solid 1px rgb(189, 189, 189);
}
.tableCell:hover{
    background-color: darkgrey;
}
.myTable{
    row-gap: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 1rem;
    border: solid 1px rgb(189, 189, 189);
}