.tableRow{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 20px auto;
}
.tableCell{
    width: 70px;
    height: 65px;
    text-align: center;
    background-color: rgb(168, 206, 196);
    color: rgb(70, 70, 70);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: .4rem;
    border: solid 1px rgb(189, 189, 189);
}
.tableCell:hover{
    background-color: darkgrey;
}
.myTable{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: .4rem;
    border: solid 1px rgb(189, 189, 189);
}
.clearBtn{
    display: block !important;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.outerClearBtn{
    display: block;
    align-items: center;
    padding-bottom: 15px;
}
.gamerAnnouncement{
    margin: .5em;
    text-align: center;
}
.rollingCubesOuter{
    width: 100%;
    align-items: center;
}
.rollingCubesImg{
    display: block;
    margin-left: 5rem;
    margin-right: auto;
}